- class_name = page_state[:class].name.downcase
- id_prefix = "#{class_name}_comment_bulk"

%div{ {:id => "#{id_prefix}_post"}}
  =form_tag(bulk_create_comments_path, :method => "post") do
    = hidden_field_tag "comment[user_id]", current_user.id, :id => "#{id_prefix}_comment_user_id"
    - page_state[:commentable_ids].each do |id|
      = hidden_field_tag "commentable_ids[]", id, :id => "#{id_prefix}_comment_commentable_#{id}"
    = hidden_field_tag "comment[commentable_type]", class_name.capitalize, :id => "#{id_prefix}_comment_commentable_type"
    = text_area_tag "comment[comment]", nil, :id => "#{id_prefix}_comment_comment", :placeholder => "This note is applied to each item in the current list"
    %div{:style => "padding:6px 0px 0px 40px;"}
      = submit_tag t(:add_note), :id => "#{id_prefix}_comment_submit"
