- class_name = page_state[:class].name.downcase
- id_prefix = "#{class_name}_comment_bulk"

%div{ {:id => "#{id_prefix}_post"}}
  =form_tag(bulk_comment_contacts_path, :id => "#{id_prefix}_form", :method => "post") do
    = hash_to_hidden_fields({:query => params[:query]}) unless params[:query].blank?
    = hash_to_hidden_fields({:q => params[:q]}) unless params[:q].blank?
    = hidden_field_tag "comment[user_id]", current_user.id, :id => "#{id_prefix}_comment_user_id"
    = hidden_field_tag "comment[commentable_type]", class_name.capitalize, :id => "#{id_prefix}_comment_commentable_type"
    -#= hidden_field_tag "#{id_prefix}_last_query", @last_query, :id => "#{id_prefix}_last_query"
    = text_area_tag "comment[comment]", nil, :id => "#{id_prefix}_comment_comment", :placeholder => "This note is applied to each item in the current list"
    %div{:style => "padding:6px 0px 0px 40px;"}
      = submit_tag t(:add_note), :id => "#{id_prefix}_comment_submit"
