- view   ||= controller.controller_name
- action ||= controller.action_name
- sidebar = "#{view}/sidebar_#{action}"
- sidebar = "admin/#{sidebar}" if controller.class.to_s.starts_with?("Admin::")

= content_for :sidebar
- begin
  = render sidebar
  - rescue MissingTemplate

- if Setting.advanced_search_enabled  
  = render "shared/lists"
  -# Only show bulk comment box to users with write access in contacts index
  - if view == "contacts" and action == "index" and can? :manage, @contacts.first
    = render "contacts/notes"
  
= render "shared/recently"
